h1{
    border-style: solid;

    /* margin top right bottom and left  */
    /* margin: 40px 22px 34px 55px; */
    border-color: red green yellow pink; border-width: 20px;
    
    /* margin left/right and top bottom another shortcut way  */
    /* margin: 40px 50px; */


    /* similar margin both of 4 around */
    margin: 50px;

    /* I did it with shortcut */
    /* border-right: 10px solid red;
    border-left: 10px solid green;
    border-bottom: 10px solid pink;
    border-top: 10px solid rgb(9, 24, 236); */

    /* margin and padding similar just effect are different */
    /* padding: 10px 20px 33px 44px; */
    /* padding: 20px 22px; */
    /* padding: 22px 0px 22px; */
    /* code always overwrite last step  */
    padding: 33px;
}

div{
    background-color: rgb(42, 85, 224);
    width: 200px;
    height: 200px;
    margin: 20px auto;
}